
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.background-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

.content {
  color: white;
  max-width: 800px;
}

.content h1 {
  font-size: 120px;
  margin-bottom: 15px;
}
.content h1:hover {
  color: #ff004f;
  transition: color 0.3s;
  cursor: pointer;
  transform: translateY(-10px);
}

.content p {
  font-size: 50px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  background: #00bcd4;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 20px;
  transition: 0.3s;
}

.btn:hover {
  background: #fff;
  color: black;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 2.2rem;
  }

  .content p {
    font-size: 1rem;
  }
}


@media (max-width: 480px) {
  .content h1 {
    font-size: 35px;
  }

  .content p {
    font-size: 20px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 18px;
  }
}